@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #e1e8ed;
}

p {
  margin: 0;
}

textarea {
  resize: none;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #292f33;
  color: #e1e8ed;
  transition-duration: 0.5s;
  border: 1px solid #292f33;
}

textarea:focus {
  outline: none;
  border: 1px solid #ccd6dd;
  border-radius: 5px;
}

input[type=submit] {
  background-color: #66757d;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 10px;
}

input[type=submit]:hover {
  background-color: #55acee;
  transition-duration: 0.5s;
  cursor: pointer;
}
